
.stock-prices-container {
  width: 100%;
  display: flex;
  font-family: 'Open Sans';
  margin-top: 20px;
}
/* Styles for the left side */
.stock-prices-container .change {
  display: flex;
}
.arrow-container {
  fill: rgb(57, 81, 115);
}
.prices {
  margin-bottom: 10px;
}
.stock-prices-container .date {
  display: flex;
}
.stock-prices-container .string {
  margin-right: 5px;
}

/* Styles for the table */
.table {
  border-collapse: collapse;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 14px;
  height: 75px;
  width: 100%;
}
.cell-1,
.cell-2,
.cell-3,
.cell-4,
.cell-5,
.cell-6 {
  padding: 2px 8px;
  border: 1px rgb(214, 214, 214) solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cell-1,
.cell-2,
.cell-4,
.cell-5 {
  border-right: none;
}
.cell-1,
.cell-2,
.cell-3 {
  border-bottom: none;
}
.numbers {
  font-weight: 700;
}