
.stock-prices-container {
  width: 100%;
  display: flex;
  font-family: 'Open Sans';
  margin-top: 20px;
}
/* Styles for the left side */
.stock-prices-container .change {
  display: flex;
}
.at-close-after-hours-container {
  min-width: 170px;
}
.arrow-container {
  fill: rgb(57, 81, 115);
}
.prices {
  margin-bottom: 10px;
}
.stock-prices-container .date {
  display: flex;
}
.stock-prices-container .string {
  margin-right: 5px;
}
.price {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: -3px;
}
.price-change {
  margin-right: 5px;
}
.change {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 2px;
  display: flex;
  align-items: center;
}
.arrow-container {
  margin-right: 5px;
}
.date {
  font-size: 12px;
  color: rgb(73, 73, 73);
  margin-top: -5px;
}

/* Styles for the table */
.table {
  border-collapse: collapse;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 14px;
  height: 75px;
  width: 100%;
}
.cell-1,
.cell-2,
.cell-3,
.cell-4,
.cell-5,
.cell-6 {
  padding: 2px 8px;
  border: 1px rgb(214, 214, 214) solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cell-1,
.cell-2,
.cell-4,
.cell-5 {
  border-right: none;
}
.cell-1,
.cell-2,
.cell-3 {
  border-bottom: none;
}
.numbers {
  font-weight: 700;
}