/* Navbar */
.navbar {
  margin-top: 30px;
  width: 100%;
  display: flex;
  color: rgb(63, 131, 248);
}
.navbar div {
  padding: 8px 10px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}
.profile {
  border-bottom: 2px rgb(63, 131, 248) solid;
  color: rgb(57, 81, 115);
}

/* StockGraph */
.profile-container h2 {
  margin-top: 10px;
  margin-bottom: 6px;
  font-family: sans-serif;
}
.profile-container h3 {
  margin-top: 6px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  border-bottom: 2px rgb(200, 218, 255) solid;
  padding-bottom: 15px;
}
.public-link {
  text-decoration: none;
  color: rgb(44, 162, 209);
}