@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* first header */
.first-header-container div {
  margin: 0;
}
.first-header-container {
  font-family: Manrope, sans-serif;
  font-size: 12px;
  font-weight: 500;
  background-color: rgb(7, 34, 50);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 0;
}
.inner-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1450px;
  align-items: center;
  justify-content: space-between;
}
.first-header-container .left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
}
.first-header-container .right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}
.left-side,
.right-side {
  height: 100%;
}
.left-side div,
.right-side div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  white-space: nowrap;
  cursor: pointer;
}
.benzinga-pro-container {
  display: flex;
  align-items: center;
  background-color: rgb(0, 108, 216);
  border-top-width: 0;
}
.benzinga-pro-img {
  height: 13px;
}
.data-and-apis {
  box-sizing: border-box;
  border-top: 2px solid rgb(255, 94, 0);
}
.events {
  box-sizing: border-box;
  border-top: 2px solid rgb(179, 137, 0);
}
.marketfy {
  box-sizing: border-box;
  border-top: 2px solid rgb(30, 107, 84);
}
.premarket {
  box-sizing: border-box;
  border-top: 2px solid red;
}
.boost {
  box-sizing: border-box;
  border-top: 2px solid green;
}
.advertise {
  box-sizing: border-box;
  border-top: 2px solid rgb(0, 140, 255);
}
.language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 56, 94);
}
.down-arrow-img {
  height: 10px;
  margin-left: 5px;
}
.sign-in {
  font-size: 14px;
  font-weight: 700;
}

/* second header */
.second-header-container {
  font-family: Manrope, sans-serif;
  font-size: 12px;
  font-weight: 500;
  background-color: white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 0;
}
.inner-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1450px;
  align-items: center;
  justify-content: space-between;
}
.second-header-container .left-side {
  display: flex;
  color: black;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  margin-left: 5px;
}
.second-header-container .left-side div {
  transition: background-color 0.1s;
}
.second-header-container .left-side div:hover {
  background-color: rgb(222, 235, 255);
}
.benzinga-img {
  height: 25px;
  margin-right: 6px;
  cursor: pointer;
}
.second-header-container .right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Open+Sans, sans-serif;
  font-weight: 700;
  color: rgb(25, 41, 64);
}
.research-button {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(255, 111, 54);
  font-family: Open+Sans, sans-serif;
  font-weight: 700;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 10px 12px;
  cursor: pointer;
  transition: background-color 0.1s;
}
.research-button:hover {
  background-color: rgb(255, 94, 54);
}
.research-button div {
  padding: 0;
}
.double-forward-arrow-img {
  margin-left: 10px;
  height: 12px;
}
.my-stocks div {
  margin-left: -4px;
  margin-right: -8px;
}
.my-tools {
  cursor: pointer;
}
.tools div {
  margin-left: -5px;
  margin-right: -8px;
}
.my-stocks,
.tools {
  transition: color 0.1s;
}
.my-stocks:hover,
.tools:hover {
  color: rgb(0, 119, 255);
}

.second-header-container svg {
  height: 20px;
  width: 20px;
}

/* third header */
.third-header-container {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  background-color: lightpink;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 0;
}