@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');

.first-header-container {
  font-family: Manrope;
  font-size: 12px;
  background-color: rgb(7, 34, 50);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 0;
}

.inner-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1450px;
  align-items: center;
  justify-content: space-between;
}

.first-header-container .left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
}

.first-header-container .right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.left-side,
.right-side {
  height: 100%;
}

.left-side div,
.right-side div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  white-space: nowrap;
  cursor: pointer;
}

.benzinga-pro-container {
  display: flex;
  align-items: center;
  background-color: rgb(143, 180, 216);
  border-top-width: 0;
}

.benzinga-pro-img {
  height: 17px;
}

.data-and-apis {
  box-sizing: border-box;
  border-top: 2px solid rgb(255, 94, 0);
}
.events {
  box-sizing: border-box;
  border-top: 2px solid rgb(179, 137, 0);
}
.marketfy {
  box-sizing: border-box;
  border-top: 2px solid rgb(30, 107, 84);
}
.premarket {
  box-sizing: border-box;
  border-top: 2px solid red;
}
.boost {
  box-sizing: border-box;
  border-top: 2px solid green;
}
.advertise {
  box-sizing: border-box;
  border-top: 2px solid rgb(0, 140, 255);
}

.language {
  
}